<h1>Hello, {{user.username}}</h1>

<br />

<h3>Here is what you've achieved so far</h3>
<br />
<br />

{{#if monthActivities}}

	{{#with statistic}}
		<div class='row mx-auto text-center'>
			<br />
		{{#if today}}
			<div class='col p-2'>
				<h4>Today's activities</h4>
				<canvas id='todayChart' width='200' height='200' class='mx-auto mb-3'></canvas>
				<p>{{doneToday}} of {{today}}</p>
				<p>{{todayMessage}}</p>
			{{else}}
				<br>
				<h6>No activities today</h6>
				<hr>
				<br>
			</div>
		{{/if}}
			{{#if week}}
			<div class='col p-2'>
				<h4>This week's activities</h4>
				<canvas id='weeklyChart' width='200' height='200' class='mx-auto mb-3'></canvas>
				<p>{{doneWeek}} of {{week}}</p>
				<p>{{weekMessage}}</p>
			{{else}}
				<br>
				<h6>No activities this week</h6>
				<hr>
				<br>
			</div>
			{{/if}}

		{{#if month}}
			<div class='col p-2'>
				<h4>This month's activities</h4>
				<canvas id='MonthlyChart' width='200' height='200' class='mx-auto mb-3'></canvas>
				<p>{{doneMonth}} of {{month}}</p>
				<p>{{monthMessage}}</p>
			{{else}}
				<br>
				<h6>No activities this month</h6>
				<hr>
				<br>
			</div>
		{{/if}}
		</div>

  {{/with}}

{{else}}
  <h4>There is no activity to show</h4>
{{/if}}
<div class="row mt-5 mx-auto">
  <div class="col text-center p-2">
    <h3>This Weeks Activities by Category</h3>
    <canvas
      id="weeklyCategoryChart"
      width="320"
      height="320"
      class="mx-auto"
    ></canvas>
  </div>
  <div class="col text-center p-2">
    <h3>This Months Activities by Category</h3>
    <canvas
      id="monthlyCategoryChart"
      width="320"
      height="320"
      class="mx-auto"
    ></canvas>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{{#with statistic}}
	{{!-- prettier-ignore --}}
	<script>
		if ({{today}}){
		// TODAY CHART
		// get the context of the canvas element we want to select
		const todayCtx = document.getElementById('todayChart').getContext('2d');
		// set the data for the chart
		const todayData = {
		labels: ['Completed today', 'Remaining today'],
		datasets: [{
			label: 'Activities',
			data: [{{doneToday}},{{today}} - {{doneToday}}],
			backgroundColor: [
			'rgba(54, 162, 235, 0.2)',
			'rgba(255, 99, 132, 0.2)'
			],
			borderColor: [
			'rgba(54, 162, 235, 1)',
			'rgba(255, 99, 132, 1)'
			],
			borderWidth: 1
		}]
		};
		// set the options for the chart
		const todayOptions = {
			responsive: false,
			maintainAspectRatio: false,
			title: {
				display: true,
				text: 'Today\'s activities',
				maintainAspectRatio: true
		}
		};
		// create the chart
		const todayChart = new Chart(todayCtx, {
			type: 'pie',
			data: todayData,
			options: todayOptions
		});
		}

		// WEEKLY CHART
		// get the context of the canvas element we want to select
		if ({{week}}){
		const weeklyCtx = document.getElementById('weeklyChart').getContext('2d');
		// set the data for the chart
		const weeklyData = {
		labels: ['Completed this Week', 'Remaining this Week'],
		datasets: [{
			label: 'Activities',
			data: [{{doneWeek}},{{week}} - {{doneWeek}}],
			backgroundColor: [
			'rgba(54, 162, 235, 0.2)',
			'rgba(255, 99, 132, 0.2)'
			],
			borderColor: [
			'rgba(54, 162, 235, 1)',
			'rgba(255, 99, 132, 1)'
			],
			borderWidth: 1
		}]
		};
		// set the options for the chart
		const weeklyOptions = {
		responsive: false,
		maintainAspectRatio: false,
		title: {
			display: true,
			text: 'This week\'s activities',
			maintainAspectRatio: true
		}
		};
		// create the chart
		const weeklyChart = new Chart(weeklyCtx, {
		type: 'pie',
		data: weeklyData,
		options: weeklyOptions
		});
		}

		if({{month}}){
		//MONTHLY CHART
		// get the context of the canvas element for the monthly chart
		const monthlyCtx = document.getElementById('MonthlyChart').getContext('2d');
		// set the data for the monthly chart
		const monthlyData = {
			labels: ['Completed this Month', 'Remaining this Month'],
		// {{doneMonth}},{{month}} - {{doneMonth}}
			datasets: [{
				label: 'Activities',
				data: [{{doneMonth}},{{month}} - {{doneMonth}}],
				backgroundColor: [
					'rgba(54, 162, 235, 0.2)',
					'rgba(255, 99, 132, 0.2)'
				],
				borderColor: [
					'rgba(54, 162, 235, 1)',
					'rgba(255, 99, 132, 1)'
				],
				borderWidth: 1
			}]
		};
		// set the options for the monthly chart
		const monthlyOptions = {
			responsive: false,
			maintainAspectRatio: false,
			title: {
				display: true,
				text: 'This month\'s activities',
				maintainAspectRatio: true
			}
		};
		// create the monthly chart
		const monthlyChart = new Chart(monthlyCtx, {
			type: 'pie',
			data: monthlyData,
			options: monthlyOptions
		});
		}
		// WEEKLY CATEGORY CHART
		// get the context of the canvas element we want to select
		const weeklyCategoryCtx = document.getElementById('weeklyCategoryChart').getContext('2d');
		// set the data for the chart
		const weeklyCategoryData = {
			labels: ['Work', 'Study', 'Sports', 'Social', 'Other'],
			datasets: [{
				label: 'Activities',
				data: [{{weekCategory.work}}, {{weekCategory.study}}, {{weekCategory.exercise}}, {{weekCategory.social}}, {{weekCategory.other}}],
				backgroundColor: [
					'rgba(54, 162, 235, 0.2)',
					'rgba(255, 99, 132, 0.2)',
					'rgba(255, 206, 86, 0.2)',
					'rgba(75, 192, 192, 0.2)',
					'rgba(153, 102, 255, 0.2)'
				],
				borderColor: [
					'rgba(54, 162, 235, 1)',
					'rgba(255, 99, 132, 1)',
					'rgba(255, 206, 86, 1)',
					'rgba(75, 192, 192, 1)',
					'rgba(153, 102, 255, 1)'
				],
				borderWidth: 1
			}]
		};
		// set the options for the chart
		const weeklyCategoryOptions = {
			responsive: false,
			maintainAspectRatio: false,
			title: {
				display: true,
				text: 'This week\'s activities',
				maintainAspectRatio: true
			}
		};
		// create the chart
		const weeklyCategoryChart = new Chart(weeklyCategoryCtx, {
			type: 'pie',
			data: weeklyCategoryData,
			options: weeklyCategoryOptions
		});
		// MONTHLY CATEGORY CHART
		// get the context of the canvas element we want to select
		const monthlyCategoryCtx = document.getElementById('monthlyCategoryChart').getContext('2d');
		// set the data for the chart
		const monthlyCategoryData = {
		labels: ['Work', 'Study', 'Sports', 'Social', 'Other'],
		datasets: [{
			label: 'Activities',
			data: [{{monthCategory.work}}, {{monthCategory.study}}, {{monthCategory.exercise}}, {{monthCategory.social}}, {{monthCategory.other}}],
			backgroundColor: [
			'rgba(54, 162, 235, 0.2)',
			'rgba(255, 99, 132, 0.2)',
			'rgba(255, 206, 86, 0.2)',
			'rgba(75, 192, 192, 0.2)',
			'rgba(153, 102, 255, 0.2)'
			],
			borderColor: [
			'rgba(54, 162, 235, 1)',
			'rgba(255, 99, 132, 1)',
			'rgba(255, 206, 86, 1)',
			'rgba(75, 192, 192, 1)',
			'rgba(153, 102, 255, 1)'
			],
			borderWidth: 1
		}]
		};
		// set the options for the chart
		const monthlyCategoryOptions = {
		responsive: false,
		maintainAspectRatio: false,
		title: {
			display: true,
			text: 'This month\'s activities',
			maintainAspectRatio: true
		}
		};
		// create the chart
		const monthlyCategoryChart = new Chart(monthlyCategoryCtx, {
		type: 'pie',
		data: monthlyCategoryData,
		options: monthlyCategoryOptions
		});
	</script>
{{/with}}