{{! <div class="col-md-12">
  <div class="col-md-1">

  </div>
</div> }}

{{#if this.isDone}}
	<div class='row row-cols-auto'>
		<form class='col-12'>
			<div class='col-10 text-success'>
				<input type='checkbox' id='{{this._id}}' name='_id' value='{{this._id}}' checked />
				<label id='{{this._id}}' for='{{this._id}}'>
					<a href='/schedule/{{this._id}}'>{{title}}</a>
				</label>
				–
				{{description}}

			</div>
		</form>
	</div>

{{else}}
	<div class='row row-cols-auto'>

		<form class='col-12' action='/schedule' method='POST'>
			<div class='col-10'>
				<input type='checkbox' id='{{this._id}}' name='_id' value='{{this._id}}' />
				<label id='{{this._id}}' for='{{this._id}}'>
					<a href='/schedule/{{this._id}}'>{{title}}</a>
				</label>

				{{description}}

			</div>

		</form>
	</div>

{{/if}}


<script>
	// Submits the form and sends the id of the checkbox to the POST route 
	window.onload = function () { 
		const checkboxes = document.querySelectorAll('input[type="checkbox"]'); 
		checkboxes.forEach((checkbox) => {
			checkbox.addEventListener('change', function () { 
				if (this.checked) { 
					console.log(this.id); 
					const form = checkbox.closest('form');
					form.submit(); 
				} 
			}); 
		}); 
	};

</script>

