<ul>
    <li>
        <form action="/schedule", method="POST">
        <input type="checkbox" id="{{this._id}}" name="_id" value="{{this._id}}">
        <label for="{{this._id}}">
        {{title}} - {{description}}
        </form>

    </li>
</ul>

<script>
//submits the form and sends the id of the checkbox to the POST route
window.onload = function () {
	var checkboxes = document.querySelectorAll('input[type="checkbox"]');

	checkboxes.forEach((checkbox) => {
		checkbox.addEventListener('change', function () {
			if (this.checked) {
				console.log(this.id);
				const form = checkbox.closest('form');
				form.submit();
			}
		});
	});
};

</script>