{{#if activities}}
  <h2>{{day}}</h2>
  <ul>
    {{#each activities}}
            <li>
                <input type="checkbox" id="{{this._id}}">
                <label for="{{this._id}}">
                {{title}} - {{description}}
            </li>
    {{/each}}
  </ul>
{{else}}
  <p>No activities for {{day}}</p>
{{/if}}