<div class="row justify-content-center">
  <div class="col-xl-8 col-lg-9 col-md-10 my-3">
    <h2>Edit "{{findActivity.title}}"</h2>

    <form action="/schedule/{{findActivity._id}}" method="POST">

      {{! Edit Title }}
      <div class="row justify-content-center">
        <div class="col-12 mt-3 mb-1">
          <label for="title">Title</label>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 my-1">
          <input
            type="text"
            id="title"
            name="title"
            class="form-control"
            value="{{findActivity.title}}"
          />
        </div>
      </div>

      {{! Choose Category dropdown }}
      <div class="row justify-content-center">
        <div class="col-12 mt-3 mb-1">
          <label for="category">Category</label>
        </div>
      </div>

      <select
        id="category"
        name="category"
        class="form-select form-select-sm"
        aria-label=".form-select-sm example"
      >
        <option value="Sports">Sports</option>
        <option value="Studying">Studying</option>
        <option value="Work">Work</option>
        <option value="Social Life">Social Life</option>
        <option value="Other">Other</option>
        <option
          hidden
          value="{{findActivity.category}}"
          selected
        >{{findActivity.category}}</option>
      </select>

      {{! Edit Descrition }}
      <div class="row justify-content-center">
        <div class="col-12 mt-3 mb-1">
          <label for="description">Description</label>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 my-1">
          <textarea
            id="description"
            class="form-control"
            name="description"
            required
          >{{findActivity.description}}</textarea>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 my-2">
          <label for="date">Date</label>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-12 my-1">
          <input
            type="date"
            id="date"
            name="specificDate"
            pattern="\d{4}-\d{2}-\d{2}"
            value="{{findActivity.specificDate}}"
          />
        </div>
      </div>

      {{! Submit form buttons }}
      <div
        class="d-grid gap-2 col-md-6 col-8 mx-auto my-3 justify-content-center"
      >

        <input
          type="submit"
          value="Edit One"
          name="update"
          class="btn btn-dark"
        />
        <input
          type="submit"
          value="Edit All"
          name="update"
          class="btn btn-outline-dark"
        />
      </div>
    </form>

    {{! Procrastinate button }}
    <form action="/schedule/{{findActivity._id}}" method="POST">
      <div
        class="d-grid gap-2 col-md-6 col-8 mx-auto my-3 justify-content-center"
      >
        <input type="hidden" name="_id" value="{{findActivity._id}}" />
        <input
          type="hidden"
          name="specificDate"
          value="{{findActivity.specificDate}}"
        />

        <input
          type="submit"
          name="update"
          value="Procrastinate"
          class="btn btn-warning mt-3"
        />

      </div>
    </form>

    {{! Delete buttons }}
    <form action="/schedule/{{findActivity._id}}?_method=DELETE" method="POST">
      <div
        class="d-grid gap-2 col-md-6 col-8 mx-auto my-3 justify-content-center"
      >

        <input
          type="submit"
          value="Delete this task"
          name="terminate"
          class="btn btn-danger mt-2 me-md-2"
        />

      </div>
    </form>

    <form action="/schedule/{{findActivity._id}}?_method=DELETE" method="POST">
      <div
        class="d-grid gap-2 col-md-6 col-8 mx-auto my-3 justify-content-center"
      >

        <input
          type="submit"
          value="Delete task group"
          name="terminate"
          class="btn btn-danger mt-2 me-md-2"
        />

      </div>
    </form>
  </div>
</div>