<div class="row justify-content-center">
  <div class="col-xl-8 col-lg-9 col-md-10 my-3">
    <h2>Edit "{{findActivity.title}}"</h2>

    <form action="/schedule/{{findActivity._id}}" method="POST">

      {{! Edit Title }}
      <div class="row justify-content-center">
        <div class="col-12 mt-3 mb-1">
          <label for="title">Title</label>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 my-1">
          <input
            type="text"
            id="title"
            name="title"
            class="form-control"
            value="{{findActivity.title}}"
          />
        </div>
      </div>

      {{! Choose Category dropdown }}
      <div class="row justify-content-center">
        <div class="col-12 mt-3 mb-1">
          <label for="category">Category</label>
        </div>
      </div>

      <select
        id="category"
        name="category"
        class="form-select form-select-sm"
        aria-label=".form-select-sm example"
      >
        <option value="Sports">Sports</option>
        <option value="Studying">Studying</option>
        <option value="Work">Work</option>
        <option value="Social Life">Social Life</option>
        <option value="Other">Other</option>
        <option
          hidden
          value="{{findActivity.category}}"
          selected
        >{{findActivity.category}}</option>
      </select>

      {{! Edit Descrition }}
      <div class="row justify-content-center">
        <div class="col-12 mt-3 mb-1">
          <label for="description">Description</label>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 my-1">
          <textarea
            id="description"
            class="form-control"
            name="description"
            required
          >{{findActivity.description}}</textarea>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 my-2">
          <label for="date">Date</label>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-12 my-1">
          <input
            type="date"
            id="date"
            name="specificDate"
            pattern="\d{4}-\d{2}-\d{2}"
            value="{{findActivity.specificDate}}"
          />
        </div>
      </div>

      {{! Submit form buttons }}
      <div
        class="d-flex col-md-6 justify-content-center align-items-center mx-auto my-3"
      >
        <div class="col-auto mx-auto my-3">
          <input
            type="submit"
            value="Edit One"
            name="update"
            class="btn btn-dark px-5"
          />
        </div>
        <div class="col-auto mx-auto my-3">
          <input
            type="submit"
            value="Edit All"
            name="update"
            class="btn btn-secondary px-5"
          />
        </div>
      </div>
    </form>

    {{! More options divider }}
    <div class="divider d-flex align-items-center">
      <p class="text-center mx-3 mb-0 text-muted">More options</p>
    </div>

    {{! More otions buttons group }}
    <div class="row row-cols-auto justify-content-center">

      {{! Procrastinate button }}
      <form action="/schedule/{{findActivity._id}}" method="POST" class="m-3">
        <input type="hidden" name="_id" value="{{findActivity._id}}" />
        <input
          type="hidden"
          name="specificDate"
          value="{{findActivity.specificDate}}"
        />
        <div class="col">
          <input
            type="submit"
            name="update"
            value="Procrastinate"
            class="btn btn-warning px-5"
          />
        </div>
      </form>

      {{! Delete ONE button }}
      <form
        action="/schedule/{{findActivity._id}}?_method=DELETE"
        method="POST"
        class="m-3"
      >
        <div class="col">
          <input
            type="submit"
            value="Delete this task"
            name="terminate"
            class="btn btn-danger px-5"
          />
        </div>
      </form>

      {{! Delete GROUP button }}
      <form
        action="/schedule/{{findActivity._id}}?_method=DELETE"
        method="POST"
        class="m-3"
      >
        <div class="col">
          <input
            type="submit"
            value="Delete task group"
            name="terminate"
            class="btn btn-danger px-5"
          />
        </div>
      </form>
    </div>

  </div>
</div>