<div id="main-content" class="row justify-content-center">
  <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-7 col-12 p-3" id="content-box">
    <h2>{{user.username}}'s Profile</h2>
    <br />
    <img src="images/rubberduck.png" alt="" />

    <div class="row justify-content-center">
      <div class="col-12 mt-3 mb-1">

        <p>Name: {{user.username}}</p>
        <p>Email: {{user.email}}</p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 mt-3 mb-1">
        <p class="text-center mx-3 mb-3 text-muted">Member since
          {{memberDate}}</p>
      </div>
    </div>

    <div class="divider d-flex align-items-center">
      <p class="text-center mx-3 mb-0 text-muted">Options</p>
    </div>

    <div class="row row-cols-auto justify-content-center">

      <form action="/update-password" method="POST" class="m-3">

        <div class="row justify-content-center">
          <div class="col-12 my-1 text-center">
            <input
              type="password"
              name="password"
              placeholder="Enter Password"
            />
          </div>
        </div>
        <div class="col-auto mx-auto">
          <button class="btn btn-dark px-5" type="submit">Update Password</button>
        </div>
      </form>

      <form action="/profile/delete-activities" method="POST" class="m-3">
        <div class="row justify-content-center">
          <div class="col-12 my-1 text-center">
            <input
              type="password"
              name="password"
              placeholder="Enter Password"
            />
          </div>
        </div>
        <div class="col-auto mx-auto">
          <button class="btn btn-danger px-5" type="submit">Delete All
            Activities</button>
        </div>
      </form>

      <form action="/profile/delete-account" method="POST" class="m-3">
        <div class="row justify-content-center">
          <div class="col-12 my-1 text-center">
            <input
              type="password"
              name="password"
              placeholder="Enter Password"
            />
          </div>
        </div>
        <div class="col-auto mx-auto">
          <button class="btn btn-danger px-5" type="submit">Delete Account</button>
        </div>
      </form>

    </div>

    {{#if errorMessage}}
      <p>{{errorMessage}}</p>
    {{/if}}

    {{#if successMessage}}
      <p>{{successMessage}}</p>
    {{/if}}

  </div>
</div>