<div id="main-content" class="row justify-content-center">
  <div
    class="col-xxl-8 col-xl-8 col-lg-8 col-md-7 col-12 px-3 pb-5"
    id="content-box"
  >

    <div class="row justify-content-center">
      <div class="col-md-12 col-12">
        {{! Page title }}
        <div id="page-title" class="row p-3">
          <div class="col-auto p-3">
            <img src="/images/icons/profile.png" width="60px" />
          </div>
          <div class="col-auto py-3">
            <h2>{{user.username}}'s Profile</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      {{! Profile picture }}
      <div class="col-md-4 col-12 pt-2 pb-5 px-5">
        <img
          src="/images/SVG/profile-picture.svg"
          alt="Profile picture"
          class="w-100"
        />
      </div>
      {{! User info }}
      <div class="col-md-8 col-10 py-2">
        <h4>Name</h4>
        <p class="pb-2">{{user.username}}</p>
        <h4>Email</h4>
        <p class="pb-2">{{user.email}}</p>

        <p class="flex-wrap pt-1">{{achievementMessage}}
          <b>{{memberDate}}</b></p>
      </div>
    </div>

    {{! 		


		<div class='divider d-flex align-items-center'>
			<p class='text-center mx-3 mb-0 text-muted'>Options</p>
		</div>

		<div class='row row-cols-auto justify-content-center'>

			<form action='/update-password' method='POST' class='m-3'>

				<div class='row d-flex justify-content-around'>
					<div class='col-auto my-1 text-center'>
						<input type='password' name='password' placeholder='Enter Password' />
						<i
							class='bi bi-eye-slash togglePassword'
							role='button'
							id='togglePassword'
						></i>
					</div>

				</div>
				<div class='col-auto mx-auto'>
					<button class='btn btn-dark px-5' type='submit'>Update Password</button>
				</div>
			</form>

			<form action='/profile/delete-activities' method='POST' class='m-3'>
				<div class='row d-flex justify-content-around'>
					<div class='col-auto my-1 text-center'>
						<input type='password' name='password' placeholder='Enter Password' />
						<i
							class='bi bi-eye-slash togglePassword'
							role='button'
							id='togglePassword'
						></i>
					</div>
				</div>
				<div class='col-auto mx-auto'>
					<button class='btn btn-danger px-5' type='submit'>Delete All Activities</button>
				</div>
			</form>

			<form action='/profile/delete-account' method='POST' class='m-3'>
				<div class='row d-flex justify-content-around'>
					<div class='col-auto my-1 text-center'>
						<input type='password' name='password' placeholder='Enter Password' />
						<i
							class='bi bi-eye-slash togglePassword'
							role='button'
							id='togglePassword'
						></i>
					</div>
				</div>
				<div class='col-auto mx-auto'>
					<button class='btn btn-danger px-5' type='submit'>Delete Account</button>
				</div>
			</form> }}

    {{!-- 
		{{#if errorMessage}}
			<p>{{errorMessage}}</p>
		{{/if}}

		{{#if successMessage}}
			<p>{{successMessage}}</p>
		{{/if}} --}}

  </div>
</div>

{{!-- prettier-ignore --}}
{{!-- <script>
        const toggleButtons = document.querySelectorAll('.togglePassword');
		toggleButtons.forEach((button) => {
			button.addEventListener('click', (e) => {
				const input = e.target.previousElementSibling;
				if (input.type === 'password') {
					input.type = 'text';
					e.target.classList.remove('bi-eye-slash');
					e.target.classList.add('bi-eye');
				} else {
					input.type = 'password';
					e.target.classList.remove('bi-eye');
					e.target.classList.add('bi-eye-slash');
				}
			});
		});
</script> --}}