<h1>Profile</h1>

<p>Name: {{user.username}}</p>
<p>Email: {{user.email}}</p>
<br />
<br />

<h5>Member since {{memberDate}}</h5>
<br />
<br />
<br />

<form action='/update-password' method='POST'>
	<label for='password'>Current Password:</label>
	<input type='password' name='password' />
	<button type='submit'>Update Password</button>
</form>

<form action='/profile/delete-activities' method='POST'>
	<label for='password'>Password:</label>
	<input type='password' name='password' />
	<button type='submit'>Delete All Activities</button>
</form>

<form action='/profile/delete-account' method='POST'>
	<label for='password'>Password:</label>
	<input type='password' name='password' />
	<button type='submit'>Delete Account</button>
</form>

{{#if errorMessage}}
	<p>{{errorMessage}}</p>
{{/if}}

{{#if successMessage}}
	<p>{{successMessage}}</p>
{{/if}}