<div id="main-content" class="row justify-content-center">
  <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-7 col-12 p-3" id="content-box">

{{!-- Error message --}}

{{#if errorMessage}}
    <div class="col-auto p-3"></div>
        <div class="col-xxl-8 col-xl-8 col-lg-10 col-md-10 my-3">
        <div class="alert alert-danger" role="alert">
            {{{errorMessage}}}
        </div>
        </div>
    </div>
{{else}}


{{!-- Calendar weeks navigatgion --}}
<div class="row row-cols-3 justify-content-center">
    <div class="col-sm-1 text-center">
        <a href="/schedule?lastWeek={{week}}" id="week-button" class="btn btn-secondary">
            <i class="bi bi-caret-left-square"></i>
        </a>
    </div>
    <div class="col-sm-2 text-center">
        Week {{week}}
    </div>
    <div class="col-sm-1 text-center">
        <a href="/schedule?week={{week}}" id="week-button" class="btn btn-secondary">
            <i class="bi bi-caret-right-square"></i>
        </a>
    </div>
</div>


{{!-- Days and tasks --}}
<div class="row justify-content-center mb-4">
  <div class="col-xl-8 col-lg-9 col-md-10">

<div class="row border rounded m-3 py-2 justify-content-center">
    <div class="col my-2"><h4>Monday, {{weekDates.Monday}}</h4></div>

    {{#if noActivities.Monday}}
        <p>No tasks today</p>
    {{else}}
        {{#each activities}}
            {{#if hasMonday}}
                <div id="{{category}}">
                    {{> day}}
                </div>
            {{/if}}
        {{/each}}
    {{/if}}
</div>


<div class="row border rounded m-3 py-2 justify-content-center">
    <div class="col my-2"><h4>Tuesday, {{weekDates.Tuesday}}</h4></div>
    {{#if noActivities.Tuesday}}
        <p>No tasks today</p>
    {{else}}
        {{#each activities}}
            {{#if hasTuesday}}
                <div id="{{category}}">
                    {{> day}}
                </div>
            {{/if}}
        {{/each}}
    {{/if}}
</div>

<div class="row border rounded m-3 py-2 justify-content-center">
    <div class="col my-2"><h4>Wednesday, {{weekDates.Wednesday}}</h4></div>
    {{#if noActivities.Wednesday}}
        <p>No tasks today</p>
    {{else}}
        {{#each activities}}
            {{#if hasWednesday}}
                <div id="{{category}}">
                    {{> day}}
                </div>
            {{/if}}
        {{/each}}
    {{/if}}
</div>

<div class="row border rounded m-3 py-2 justify-content-center">
    <div class="col my-2"><h4>Thursday, {{weekDates.Thursday}}</h4></div>
    {{#if noActivities.Thursday}}
        <p>No tasks today</p>
    {{else}}
        {{#each activities}}
            {{#if hasThursday}}
                <div id="{{category}}">
                    {{> day}}
                </div>
            {{/if}}
        {{/each}}
    {{/if}}
</div>

<div class="row border rounded m-3 py-2 justify-content-center">
    <div class="col my-2"><h4>Friday, {{weekDates.Friday}}</h4></div>
    {{#if noActivities.Friday}}
        <p>No tasks today</p>
    {{else}}
        {{#each activities}}
            {{#if hasFriday}}
                <div id="{{category}}">
                    {{> day}}
                </div>
            {{/if}}
        {{/each}}
    {{/if}}
</div>

<div class="row border rounded m-3 py-2 justify-content-center">
    <div class="col my-2"><h4>Saturday, {{weekDates.Saturday}}</h4></div>
    {{#if noActivities.Saturday}}
        <p>No tasks today</p>
    {{else}}
        {{#each activities}}
            {{#if hasSaturday}}
                <div id="{{category}}">
                    {{> day}}
                </div>
            {{/if}}
        {{/each}}
    {{/if}}
</div>

<div class="row border rounded m-3 py-2 justify-content-center">
    <div class="col my-2"><h4>Sunday, {{weekDates.Sunday}}</h4></div>
    {{#if noActivities.Sunday}}
        <p>No tasks today</p>
    {{else}}
        {{#each activities}}
            {{#if hasSunday}}
                <div id="{{category}}">
                    {{> day}}
                </div>
            {{/if}}
        {{/each}}
    {{/if}}
</div>

</div>
</div>
{{/if}}


{{!-- Ramdom fact --}}
<div class="row justify-content-center mb-4 px-5">
    <div class="col">
	{{> randomfact}}
    </div>
</div>

</div>
</div>


{{!-- <script>

window.onload = function() {
  const scheduleButton = document.querySelector('.schedule-button');
  scheduleButton.setAttribute('href', '#')
};

</script> --}}