<ul>
  <li><strong>Monday:</strong>
    <ul>
      {{#each activities}}
        {{#if hasMonday}}
            <li>
                <input type="checkbox" id="{{this._id}}">
                <label for="{{this._id}}">
                {{title}} - {{description}}
            </li>
        {{/if}}
      {{/each}}
    </ul>
  </li>
  <li><strong>Tuesday:</strong>
    <ul>
      {{#each activities}}
        {{#if hasTuesday}}
            <li>
                <input type="checkbox" id="{{this._id}}">
                <label for="{{this._id}}">
                {{title}} - {{description}}
            </li>
        {{/if}}
      {{/each}}
    </ul>
  </li>
  <li><strong>Wednesday:</strong>
    <ul>
      {{#each activities}}
        {{#if hasWednesday}}
          <li>{{title}} - {{description}}</li>
        {{/if}}
      {{/each}}
    </ul>
  </li>
  <li><strong>Thursday:</strong>
    <ul>
      {{#each activities}}
        {{#if hasThursday}}
            <li>
                <input type="checkbox" id="{{this._id}}">
                <label for="{{this._id}}">
                {{title}} - {{description}}
            </li>
        {{/if}}
      {{/each}}
    </ul>
  </li>
  <li><strong>Friday:</strong>
    <ul>
      {{#each activities}}
        {{#if hasFriday}}
            <li>
                <input type="checkbox" id="{{this._id}}">
                <label for="{{this._id}}">
                {{title}} - {{description}}
            </li>
        {{/if}}
      {{/each}}
    </ul>
  </li>
  <li><strong>Saturday:</strong>
    <ul>
      {{#each activities}}
        {{#if hasSaturday}}
            <li>
                <input type="checkbox" id="{{this._id}}">
                <label for="{{this._id}}">
                {{title}} - {{description}}
            </li>
        {{/if}}
      {{/each}}
    </ul>
  </li>
  <li><strong>Sunday:</strong>
    <ul>
      {{#each activities}}
        {{#if hasSunday}}
            <li>
                <input type="checkbox" id="{{this._id}}">
                <label for="{{this._id}}">
                {{title}} - {{description}}
            </li>
        {{/if}}
      {{/each}}
    </ul>
  </li>
</ul>

