<div class="row row-cols-3 justify-content-center">
    <div class="col-sm-1 text-center">
        <a href="/schedule?lastWeek={{week}}" id="week-button" class="btn btn-secondary">
            <i class="bi bi-caret-left-square"></i>
        </a>
    </div>
    <div class="col-sm-2 text-center">
        Week {{week}}
    </div>
    <div class="col-sm-1 text-center">
        <a href="/schedule?week={{week}}" id="week-button" class="btn btn-secondary">
            <i class="bi bi-caret-right-square"></i>
        </a>
    </div>
</div>



<div class="row justify-content-center mb-4">
  <div class="col-xxl-8 col-xl-8 col-lg-10 col-md-10">

<div class="row border rounded m-3 p-2">
    <h4>Monday, {{weekDates.Monday}}</h4>

    {{#if noActivities.Monday}}
        <p>no activities today</p>
    {{else}}
        {{#each activities}}
            {{#if hasMonday}}
                {{> day}}
            {{/if}}
        {{/each}}
    {{/if}}
</div>

<div class="row border rounded m-3 p-2">
    <h4>Tuesday, {{weekDates.Tuesday}}</h4>
    {{#if noActivities.Tuesday}}
        <p>no activities today</p>
    {{else}}
        {{#each activities}}
            {{#if hasTuesday}}
                {{> day}}
            {{/if}}
        {{/each}}
    {{/if}}
</div>

<div class="row border rounded m-3 p-2">
    <h4>Wednesday, {{weekDates.Wednesday}}</h4>
    {{#if noActivities.Wednesday}}
        <p>no activities today</p>
    {{else}}
        {{#each activities}}
            {{#if hasWednesday}}
                {{> day}}
            {{/if}}
        {{/each}}
    {{/if}}
</div>

<div class="row border rounded m-3 p-2">
    <h4>Thursday, {{weekDates.Thursday}}</h4>
    {{#if noActivities.Thursday}}
        <p>no activities today</p>
    {{else}}
        {{#each activities}}
            {{#if hasThursday}}
                {{> day}}
            {{/if}}
        {{/each}}
    {{/if}}
</div>

<div class="row border rounded m-3 p-2">
    <h4>Friday, {{weekDates.Friday}}</h4>
    {{#if noActivities.Friday}}
        <p>no activities today</p>
    {{else}}
        {{#each activities}}
            {{#if hasFriday}}
                {{> day}}
            {{/if}}
        {{/each}}
    {{/if}}
</div>

<div class="row border rounded m-3 p-2">
    <h4>Saturday, {{weekDates.Saturday}}</h4>
    {{#if noActivities.Saturday}}
        <p>no activities today</p>
    {{else}}
        {{#each activities}}
            {{#if hasSaturday}}
                {{> day}}
            {{/if}}
        {{/each}}
    {{/if}}
</div>

<div class="row border rounded m-3 p-2">
    <h4>Sunday, {{weekDates.Sunday}}</h4>
    {{#if noActivities.Sunday}}
        <p>no activities today</p>
    {{else}}
        {{#each activities}}
            {{#if hasSunday}}
                {{> day}}
            {{/if}}
        {{/each}}
    {{/if}}
</div>

  </div>
</div>

<div class="row justify-content-center mb-4 px-2">
    <div class="col-xxl-8 col-xl-8 col-lg-10 col-md-10">
	{{> randomfact}}
    </div>
</div>

<script>

window.onload = function() {
  const scheduleButton = document.querySelector('.schedule-button');
  scheduleButton.setAttribute('href', '#')
};

</script>